.container
    .title-content
        background-color: #008060
        color: #fff
        .logo
            font-family: 'Pacifico', cursive
            font-size: 2rem
            text-align: center
            padding: 1rem 0
            font-weight: 400
        .pre-title
            font-size: 1rem
            text-align: center
            padding: 2rem 0 0 0
            .title-logo
                font-weight: 500
        .title
            margin: 0 auto
            width: 40%
            font-size: 4rem
            text-align: center
            font-weight: 900
        .sub-title
            font-size: 2rem
            text-align: center
            padding: 0 0 4rem 0
            font-weight: 700
